<div id="right_column" class="form_wrapper">
  <%= form_for(resource, :url => session_path(resource_name), :html => { :id => 'login_form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form_field"><%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class="form_field"><%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div style="display: none" ><%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in" %></div>
  <% end %>
  <div class="small_text">

  <%= render :partial => "devise/shared/links" %>
  </div>
</div>

<% if @location[0..8] != 'empty' %>
<div id="left_column">
  <h3>Pushapage</h3>
<% end %>
<% if @location[0..8] == '/add_site' %>
  <p>Sign in and your page will be whisked off.</p>
<% else %>
<% end %>
</div>
