<p id="notice"><%= notice %></p>

<p>
  <b>Test option:</b>
  <%= @option.test_option %>
</p>

<p>
  <b>User:</b>
  <%= @option.user_id %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
