<div id="sign_in" class="round_bottom">
  <%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %><br>
  <div style="display:none;"><%= f.check_box :remember_me, :checked => true %></div>
  <%= f.submit 'Sign in' %><br>
  <%= link_to "Forgot your password?", new_password_path('user') %>
</div>
  <% end %>
