<header class="">
  <% logo = image_tag("/images/logo6.png", :alt => "Intray", :class => "round logo") %>
	<%= link_to logo, root_path %>
  <nav class="round">
    <table>
      <tr>
	<td class="text_link"><%= link_to "Home", root_path %></td>
	  <% if signed_in? %>
			<td><%= link_to "Profile", '#' %></td>
	  <% end %>
	    <td class="text_link"><%= link_to "About", '#'  %></td>
	    <td class="text_link"><%= link_to "Contact",'#'  %></td>
	      <% if signed_in? %>
		<td><%= link_to "Sign out", '#' %></td>
	      <% else %>
              pants
	      <% end %>
      </table>
		
  </nav>
</header>
