<!DOCTYPE html>
<html>

<head>
  <title>SavedSite</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag 'less', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie', :media => 'screen' %>
    <![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= stylesheet_link_tag 'styles', :media => 'screen' %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'application', 'rails' %>
<link rel="icon" href="/images/favicon.png"/> 

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <%= csrf_meta_tag %>
</head>
<body lang="en">

  <div id="content">
    <%= render 'layouts/header' %>
          <div class="container round">
          <%= yield %>
          </div>
  </div>
</body>
</html>


