<!DOCTYPE html>
<html>
<head>
  <title>Ping It Over></title>
<!-- 	<%= javascript_include_tag 'jquery_ujs' %> -->
	<%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]>
			<%= stylesheet_link_tag 'blueprint/ie', :media => 'screen' %>
		<![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
	
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.tmpl' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.fileupload' %>
  <%= javascript_include_tag 'jquery.fileupload-ui' %>
  <%= javascript_include_tag 'jquery.iframe-transport' %>
  <%= javascript_include_tag 'jquery.labelify' %>
  <%= javascript_include_tag 'jquery.truncate.min' %>

  <div class="container">	
	  
	  
  </div>
  <section>
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>			
<div id="yeild">
<%= yield %>
</div>



<script type="text/javascript">
$(document).ready(function(){
  $(":text").labelify({ labelledClass: "labelHighlight" });
});
</script>

<style type="text/css">
input.labelHighlight { color: #545454; }
</style>

			
  <%= debug(params) if Rails.env.development? %>
  </div>
  </section>
</body>
</html>
