<div id="settings">
<h3>Settings</h3>

<p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<div id="settings_left_column">
  <div class="overflow"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="overflow"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div class="overflow"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="overflow"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  <div><%= f.submit "Save settings" %></div>
</div>

<div id="settings_right_column">
  <h3>Instapaper and Pinboard Account Settings</h3>
  <div class="overflow"><%= f.label :instapaper_username, "Instapaper username" %><br /> 
  <%= f.text_field :instapaper_user %></div>

  <div class="overflow"><%= f.label :instapaper_pass, "Instapaper password" %><br /> 
  <%= f.password_field :instapaper_pass %></div><br />

  <div class="overflow"><%= f.label :pinboard_user, "Pinboard username" %><br /> 
  <%= f.text_field :pinboard_user %></div>

  <div class="overflow"><%= f.label :pinboard_pass, "Pinboard password" %><br /> 
  <%= f.password_field :pinboard_pass %></div>
</div>

  <div><%= f.submit "Save settings" %></div>
<% end %>
</p>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
</div>
